.product{
    height: 450px;
    width: 300px;
    background-color:rgb(231, 222, 222);
    position: relative;
    border-radius: 15px;
}
.product-details h3,p{
    margin: 5px;
    display: flex; 
    align-items: flex-start;
    margin-left: 20px;
}
/*  image styles */
.product img{
    height: 286px;
    width: 286px;
    border-radius:15px;
}
.product-btn{
    background-color:rgb(253, 221, 78);
    border: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 45px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.product-btn:hover{
    background-color: orange;
}
.product-btn p{
    align-items: center;
}
.btn-text{
    margin-right: 10px;
}
@media screen and (max-width:576px) {
    .product{
        width:100%;
        height: 450px;
        margin-right:15px;
    }
    .product img{
        height:auto;
        width: 100;
    }
}